.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 224px;
  height: 32px;
  display: none;
  border: 2px solid red;

  @media screen and (max-width: 500px) {
    width: 50%;
  }

  a:hover path {
    fill: #333;
  }
}
