.store {
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media screen and (max-width: 396px) {
      & {
        text-align: center;
      }
    }
  
    .googleStoreStyle {
      margin-left: 16px;
      transition: all 0.4s ease;
      @media screen and (max-width: 415px) {
        & {
          margin-left: 10px;
        }
      }
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .appStoreStyle {
      transition: all 0.4s ease;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  