.icons {
    margin: 2.5rem 0px 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
  
    @media screen and (min-width: 840px) and (max-width: 1133px) {
      & {
        justify-content: center;
        gap: 5rem;
      }
    }
    @media screen and (min-width: 767px) and (max-width: 840px) {
      & {
        justify-content: center;
        gap: 2rem;
      }
    }
    @media screen and (min-width: 700px) and (max-width: 767px) {
      & {
        justify-content: center;
        gap: 1.5rem;
      }
    }
    @media screen and  (max-width: 767px) {
      & {
        justify-content: center;
        gap: 1rem;
      }
    }
   
   
  }
  